@use "../core/media";
@use "../core/var";
@use "../core/extends";
@use "../core/mixins";

.filter__btn {
  @extend %btn-reset;

  font-weight: 500;
  font-size: 1.2rem;
  font-family: var.$main-font;
  text-transform: uppercase;

  @include media.before-device(tablet) {
    display: none;
  }
}

.filter__list-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media.device(tablet) {
    width: 100%;
    padding: 52px 25px;
    min-height: 50vh;
    background: var.$c-white;
    border-radius: 24px 24px 0 0;
  }
}

.filter__list {
  @include media.device(tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    align-items: end;
    width: 100%;
    height: 100%;
  }
}

.filter__close {
  @extend %btn-reset;

  display: none;

  @include media.device(tablet) {
    position: absolute;
    top: 12px;
    left: 50%;
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 40px;
    background: rgba(var.$c-black, .6);
    transform: translateX(-50%);
  }
}
