@use "../core/media";

.main {
  position: relative;
  padding-bottom: 140px;
}

.main__breadcrumbs {
  margin-top: 16px;

  @include media.before-device(tablet) {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 2;
    margin-top: 0;
  }
}

.main__catalog {
  margin-top: 70px;

  @include media.device(tablet) {
    margin-top: 50px;
  }
}
