@use "../core/media";
@use "../core/mixins";
@use "../core/var";
@use "../core/extends";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(black, .1);

  &[data-is-sale="true"] {
    &::before {
      @include mixins.pseudo('sale');

      top: 10px;
      left: 10px;
      z-index: 1;
      padding: 2px 5px;
      border-radius: 4px;
      color: var.$c-white;
      font-size: 1.2rem;
      background: red;
    }
  }

  @include media.before-device(tablet) {
    transition: border-bottom var.$transition;

    @include mixins.hf() {
      border-color: var.$c-primary;
    }
  }
}

.product__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
}

.product__name {
  grid-column: 1/-1;
  margin: 0;
  font-weight: 300;
  font-size: 1.6rem;

  @include media.before-device(tablet) {
    transition: color var.$transition;

    @include mixins.hf() {
      color: var.$c-primary;
    }
  }
}

.product__price {
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;

  @include media.device(mobile) {
    align-self: end;
  }
}

.product__btn {
  @extend %btn-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  min-height: 32px;
  min-width: 80px;
  border-radius: 8px;
  background: var.$c-gray;
  transition: opacity var.$transition, transform var.$transition, background var.$transition;

  &:active {
    transform: scale(0.8);
  }

  &:disabled {
    pointer-events: none;
    touch-action: none;
  }

  & svg {
    pointer-events: none;
    touch-action: none;
  }

  @include media.before-device(tablet) {
    opacity: 0;

    .product:is(:hover, :focus-within, :focus-visible) & {
      opacity: 1;
    }

    &:disabled {
      .product:is(:hover, :focus-within, :focus-visible) & {
        opacity: .4;
      }
    }

    @include mixins.hf() {
      background: var.$c-primary;
    }
  }

  @include media.device(tablet-mid) {
    min-height: 24px;
    min-width: 40px;
    padding: 4px;
    border-radius: 6px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

.product__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.product__img {
  width: 100%;
  max-height: 278px;
  min-height: 278px;
  object-fit: contain;

  @include media.before-device(tablet) {
    transition: transform var.$transition;

    .product:is(:hover, :focus-within, :focus-visible) & {
      transform: scale(1.2);
    }
  }

  @include media.device(tablet-mid) {
    max-height: 156px;
    min-height: 156px;
  }
}
