$laptop-max-width: 1920px;
$laptop-mid-width: 1280px;
$laptop-min-width: 1200px;

$tab-max-width: 1199px;
$tab-mid-width: 1023px;
$tab-min-width: 768px;

$mobile-max-width: 767px;
$mobile-mid-width: 415px;

$container-desktop-padding: 40px;
$container-laptop-padding: 40px;
$container-tab-padding: 40px;
$container-mobile-padding: 12px;

$main-font: "Pragmatica", arial, helvetica, sans-serif;
$arno-font: "ArnoPro", arial, helvetica, sans-serif;
$transition: 0.17s ease-in-out;

$c-black: #101010;
$c-white: #fff;
