$laptop-max-width: 1920px;
$laptop-mid-width: 1280px;
$laptop-min-width: 1200px;

$tab-max-width: 1199px;
$tab-mid-width: 1023px;
$tab-min-width: 768px;

$mobile-max-width: 767px;
$mobile-mid-width: 415px;

$container-desktop-padding: 40px;
$container-laptop-padding: 40px;
$container-tab-padding: 40px;
$container-mobile-padding: 12px;

$main-font: "Inter", arial, helvetica, sans-serif;
$transition: 0.17s ease-in-out;

$c-black: #1F2020;
$c-white: #fff;
$c-gray: #F2F2F2;
$c-primary: #7BB899;
$c-default-text: #1F2020;
