<section class="side-modal js-cart-modal" data-modal-name="cart">
  <div class="side-modal__wrapper js-cart">
    <button class="side-modal__close" data-close-target="js-cart-modal" type="button" aria-label="Закрыть окно">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="/img/sprite.svg#cross"></use>
      </svg>
    </button>
    <h2 class="side-modal__title">Корзина</h2>

    <div class="side-modal__cart cart">
      <div class="cart__head">
        <p class="cart__count js-amount"></p>
        <button class="cart__clear js-clear" type="button">очистить список</button>
      </div>

      <div class="cart__list js-cart-list"></div>

      <div class="cart__footer">
        <p class="cart__price">
          Итого
          <span class="js-total-price"></span>
        </p>

        <button type="button" class="cart__btn button">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>
