<main class="content__main main">
  <h1 class="visually-hidden">Премиум краски COLORS</h1>

  <ul class="main__breadcrumbs breadcrumbs container">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Продукты</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link">Краски</a>
    </li>
  </ul>

  <section class="main__promo-slider slider">
    <h2 class="visually-hidden">Наши предложения</h2>

    <div class="slider__wrapper swiper js-promo-swiper">
      <ul class="slider__list swiper-wrapper">
        <li class="slider__item swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">Краски</h2>
            <p class="slider__text">
              Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            </p>
          </div>

          <picture class="slider__picture">
            <source srcset="/img/components/slider/slide-1.webp">
            <img class="slider__img" src="/img/components/slider/slide-1.jpg" width="1920" height="560"
                 alt="Коричневая ваза с цветами на тёмно-зелёном фоне">
          </picture>
        </li>
        <li class="slider__item swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">Краски</h2>
            <p class="slider__text">
              Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            </p>
          </div>

          <picture class="slider__picture">
            <source srcset="/img/components/slider/slide-1.webp">
            <img class="slider__img" src="/img/components/slider/slide-1.jpg" width="1920" height="560"
                 alt="Коричневая ваза с цветами на тёмно-зелёном фоне">
          </picture>
        </li>
        <li class="slider__item swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">Краски</h2>
            <p class="slider__text">
              Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            </p>
          </div>

          <picture class="slider__picture">
            <source srcset="/img/components/slider/slide-1.webp">
            <img class="slider__img" src="/img/components/slider/slide-1.jpg" width="1920" height="560"
                 alt="Коричневая ваза с цветами на тёмно-зелёном фоне">
          </picture>
        </li>
        <li class="slider__item swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">Краски</h2>
            <p class="slider__text">
              Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            </p>
          </div>

          <picture class="slider__picture">
            <source srcset="/img/components/slider/slide-1.webp">
            <img class="slider__img" src="/img/components/slider/slide-1.jpg" width="1920" height="560"
                 alt="Коричневая ваза с цветами на тёмно-зелёном фоне">
          </picture>
        </li>
        <li class="slider__item swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">Краски</h2>
            <p class="slider__text">
              Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            </p>
          </div>

          <picture class="slider__picture">
            <source srcset="/img/components/slider/slide-1.webp">
            <img class="slider__img" src="/img/components/slider/slide-1.jpg" width="1920" height="560"
                 alt="Коричневая ваза с цветами на тёмно-зелёном фоне">
          </picture>
        </li>
      </ul>

      <button class="slider__slide-btn slider__slide-btn--prev slide-btn slide-btn--prev"
              aria-label="Предыдущий слайд">
        <svg width="80" height="80" viewBox="0 0 80 80">
          <use xlink:href="/img/sprite.svg#slide-arrow"></use>
        </svg>
      </button>
      <button class="slider__slide-btn slider__slide-btn--next slide-btn slide-btn--next"
              aria-label="Следующий слайд">
        <svg width="80" height="80" viewBox="0 0 80 80">
          <use xlink:href="/img/sprite.svg#slide-arrow"></use>
        </svg>
      </button>

      <div class="slide__pagination pagination"></div>
    </div>
  </section>

  <section class="main__catalog catalog js-catalog">

    <div class="catalog__wrapper container">
      <h2 class="catalog__title">Краски</h2>
      <div class="catalog__head">
        <p class="catalog__total js-total"></p>

        <form class="catalog__sort sort js-sort-form">
          <button class="sort__btn js-sort-btn" type="button" data-open-target="js-sort-modal">Сначала недорогие</button>

          <fieldset class="sort__list js-sort-modal" data-overlay>
            <label class="sort__item" data-close-target="js-sort-modal">
              <input type="radio" class="visually-hidden" data-value="Сначала дорогие" name="sort" value="expensive">
              <span class="sort__label">Сначала дорогие</span>
            </label>
            <label class="sort__item" data-close-target="js-sort-modal">
              <input type="radio" class="visually-hidden" data-value="Сначала недорогие" name="sort" value="cheap" checked>
              <span class="sort__label">Сначала недорогие</span>
            </label>
            <label class="sort__item" data-close-target="js-sort-modal">
              <input type="radio" class="visually-hidden" data-value="Сначала скидки" name="sort" value="sale">
              <span class="sort__label">Сначала скидки</span>
            </label>
            <label class="sort__item" data-close-target="js-sort-modal">
              <input type="radio" class="visually-hidden" data-value="Сначала новые" name="sort" value="new">
              <span class="sort__label">Сначала новые</span>
            </label>
          </fieldset>
        </form>
      </div>

      <form class="catalog__filter filter js-filter-form">

        <button class="filter__btn" type="button" data-open-target="js-filter-modal">Фильтры</button>

        <fieldset class="filter__list js-filter-modal" data-overlay>

          <div class="filter__list-wrap">
            <button class="filter__close" type="button" data-close-target="js-filter-modal"
                    aria-label="Закрыть окно"></button>

            <label class="thumb">
              <input type="checkbox" name="filter" value="isNew" class="visually-hidden">
              <span class="thumb__box"></span>
              <span class="thumb__label">Новинки</span>
            </label>
            <label class="thumb">
              <input type="checkbox" name="filter" value="isAvailable" class="visually-hidden">
              <span class="thumb__box"></span>
              <span class="thumb__label">Есть в наличии</span>
            </label>
            <label class="thumb">
              <input type="checkbox" name="filter" value="isContract" class="visually-hidden">
              <span class="thumb__box"></span>
              <span class="thumb__label">Контрактные</span>
            </label>
            <label class="thumb">
              <input type="checkbox" name="filter" value="isExclusive" class="visually-hidden">
              <span class="thumb__box"></span>
              <span class="thumb__label">Эксклюзивные</span>
            </label>
            <label class="thumb">
              <input type="checkbox" name="filter" value="isSale" class="visually-hidden">
              <span class="thumb__box"></span>
              <span class="thumb__label">Распродажа</span>
            </label>
          </div>
        </fieldset>
      </form>

      <div class="catalog__products js-products"></div>
    </div>
  </section>
</main>
